.wrapper {
  padding-top: 200px;
}
.content {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 5px 5px rgba(85, 85, 85, 0.1);
  background-color: #222;
}
.title {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
