.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.input {
  flex-grow: 1;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  outline: none;
  color: #fff;
  &:hover,
  &:focus {
    border-color: #888
  }
}
.buttons {
  margin-left: 30px;
}
.button {
  cursor: pointer;
  background-color: #000;
  border: none;
  border-radius: 5px;
  padding: 6px 10px;
  margin-right: 6px;
  color: #fff;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: #666;
  }
}
